<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chuck Norris Jokes App</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="./dist/main.css" />
    <link rel="icon" href="./images/favicon.ico" />
  </head>
  <body>
    <main id="app" class="container">
      <section class="card">
        <header class="header">
          <figure class="header__thumb image-cover">
            <img src="./images/content/chuck-norris.jpg" alt="Chuck Norris" />
          </figure>
          <div class="header__info">
            <h1 class="header__title">Chuck Norris Jokes</h1>
            <p>
              Typical Chuck Norris jokes. Find the ones you like and select your
              favorites
            </p>
          </div>
        </header>
        <div class="card__holder">
          <button @click="getJokes" v-if="isSearch" class="btn">
            {{ !randomJokes.length ? 'Get Jokes' : 'New Jokes' }}
          </button>
          <button v-if="isFavorites" @click="setTimer" class="btn">
            <img
              src="./images/icons/stopwatch.svg"
              alt="Icon"
              class="btn__icon"
            />
            {{ timer ? 'fetching...' : 'Toggle timer' }}
          </button>
          <div class="card__nav">
            <button
              @click="toggleView"
              class="btn--nav"
              :class="isSearch ? 'is-active' : ''"
            >
              Find Jokes
            </button>
            <button
              @click="toggleView"
              class="btn--nav"
              :class="isFavorites ? 'is-active' : ''"
            >
              Favorites ({{favorites.length}} / 10)
            </button>
          </div>
        </div>
        <section v-if="message != ''" class="card__message">
          <p>{{ message }}</p>
        </section>
        <div v-if="isSearch" class="card__view">
          <transition-group tag="ul" v-if="randomJokes" class="jokes">
            <li
              v-for="randomJoke in randomJokes"
              :key="randomJoke.id"
              class="jokes__item"
            >
              {{ randomJoke.joke }}
              <button
                @click="saveJoke(randomJoke.id, randomJoke.joke)"
                class="jokes__action"
                :class="checkIfSaved(randomJoke.id)"
              >
                <img
                  src="./images/icons/bookmark-outline.svg"
                  alt="icon"
                  class="outline"
                />
                <img
                  src="./images/icons/bookmark-fill.svg"
                  alt="icon"
                  class="fill"
                />
              </button>
            </li>
          </transition-group>
          <div v-if="!randomJokes.length" class="card__search">
            <img v-svg-inline src="./images/icons/search.svg" alt="icon" />
            <p>Press the buttons to find your favorite jokes</p>
          </div>
        </div>
        <div v-if="isFavorites" class="card__view">
          <p v-if="!favorites.length">Find jokes and bookmark your favorites</p>
          <transition-group tag="ul" v-if="favorites" class="jokes">
            <li
              v-for="favorite in favorites"
              :key="favorite.id"
              class="jokes__item"
            >
              {{ favorite.joke }}
              <button class="jokes__action" @click="deleteJoke(favorite.id)">
                <img src="./images/icons/close.svg" alt="icon" />
              </button>
            </li>
          </transition-group>
        </div>
      </section>
    </main>
    <script src="./dist/app.js"></script>
  </body>
</html>
