<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chuck Norris Jokes App</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="./dist/main.css" />
    <link rel="icon" href="./images/favicon.ico" />
  </head>
  <body>
    <main id="app" class="container">
      <section class="card">
        <header class="header">
          <figure class="header__thumb image-cover">
            <img src="./images/content/chuck-norris.jpg" alt="Chuck Norris" />
          </figure>
          <div class="header__info">
            <h1 class="header__title">Chuck Norrris Jokes</h1>
            <p>
              Typical Chuck Norris jokes. Find the ones you like and select your
              favorites
            </p>
          </div>
        </header>
        <div class="card__holder">
          <button v-on:click="getJokes" class="btn">
            {{ randomJokes ? 'Get Jokes' : 'New Jokes' }}
          </button>
        </div>
        <div class="card__view">
          <transition-group tag="ul" v-if="randomJokes" class="jokes">
            <li
              v-for="randomJoke in randomJokes"
              :key="randomJoke.id"
              class="jokes__item"
            >
              {{ randomJoke.joke }}
            </li>
          </transition-group>
        </div>
      </section>
    </main>
    <script src="./dist/app.js"></script>
  </body>
</html>
