.btn {
  cursor: pointer;
  @include flex($justify: center, $align: center);
  background: $color-champagne;
  @include font(
    'work-sans',
    $size: 1.8rem,
    $weight: 600,
    $transform: uppercase
  );
  color: $color-gray;
  padding: 2rem 4rem;
  border: none;
  border-bottom: 0.6rem solid #f2deca;
  border-radius: 0.6rem;

  &:hover {
    border-bottom: 0.2rem solid #f2deca;
  }
}

.btn--nav {
  cursor: pointer;
  background: transparent;
  @include font('work-sans', $size: 2rem, $weight: 500);
  color: $color-gray;
  border: none;
  padding: 1.5rem;
  margin-left: 2rem;

  &.is-active {
    &:after {
      content: '';
      background: $color-gray;
      display: block;
      width: 40%;
      height: 0.3rem;
      margin: 0.5rem auto 0;
    }
  }
}

.btn__icon {
  width: 2rem;
  height: auto;
  margin-right: 1.5rem;
}
