.card {
  background: $color-white;
  padding: 4rem;
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
}

.card__holder {
  @include flex($justify: center, $align: center);
  margin: 5rem 0;
  min-height: 10rem;
}

.card__view {
  width: 90%;
  margin: 0 auto;

  @media (min-height: 90rem) {
    max-height: 50rem;
    overflow: scroll;
  }
}
