.card {
  background: $color-white;
  padding: 4rem;
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);

  @include breakpoint('max-tablet-portrait') {
    padding: 2rem;
  }
}

.card__holder {
  @include flex($justify: space-between, $align: center);
  margin: 5rem 0;
  min-height: 10rem;

  @include breakpoint('max-tablet-landscape') {
    flex-direction: column;
  }
}

.card__message {
  display: block;
  @include font('work-sans', $size: 1.6rem, $lineheight: 2.4rem);
  text-align: center;
  margin: 2rem 0 4rem;
}

.card__nav {
  @include breakpoint('max-tablet-landscape') {
    margin-top: 4rem;
  }
}

.card__view {
  width: 90%;
  margin: 0 auto;

  p {
    @include font('work-sans', $size: 1.6rem, $lineheight: 2.4rem);
    color: $color-gray;
    text-align: center;
  }

  @media (min-height: 90rem) {
    max-height: 50rem;
    overflow: scroll;
  }
}

.card__search {
  @include flex($direction: column, $justify: center, $align: center);
  width: 90%;
  max-width: 40rem;
  margin: 0 auto;
  @include font('work-sans', $size: 1.6rem);
  color: $color-gray;

  img {
    width: 6rem;
    margin-bottom: 2rem;
  }
}
