.header {
  @include flex($justify: space-between, $align: center);

  @include breakpoint('max-mobile') {
    flex-direction: column;
  }
}

.header__thumb {
  position: relative;
  display: block;
  width: 9rem;
  height: 9rem;
  border-radius: 10rem;
  overflow: hidden;

  @include breakpoint('max-mobile') {
    margin-bottom: 3rem;
  }
}

.header__info {
  @include font('work-sans', $size: 1.6rem, $lineheight: 2.8rem);
  width: calc(100% - 12rem);

  @include breakpoint('max-mobile') {
    width: 90%;
    text-align: center;
  }

  p {
    margin: 0;
  }
}

.header__title {
  @include font('ranchers', $size: 2.6rem);
  letter-spacing: 0.2rem;
  color: $color-bay-of-many;
  margin: 0 0 1rem;
}
