.jokes {
  list-style: none;
  padding: 0;
}

.jokes__item {
  position: relative;
  background: $color-alabasta;
  @include font('work-sans', $size: 1.6rem);
  color: $color-gray;
  padding: 2rem;
  margin: 2rem 0 4rem;
  border-radius: 0.3rem;
  transition: all ease-in-out 600ms;

  &:before {
    content: '';
    background: $color-alabasta;
    top: -8px;
    left: 10px;
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    transform: rotate(45deg);
  }

  &.v-enter,
  &.v-leave-to {
    opacity: 0;
  }

  &.v-enter-to,
  &.v-leave {
    opacity: 1;
  }
}

.jokes__action {
  cursor: pointer;
  position: absolute;
  @include flex($justify: center, $align: center);
  background: $color-white;
  width: 4rem;
  height: 4rem;
  top: -2rem;
  right: -2rem;
  border: none;
  border-radius: 100px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  transition: all ease-in-out 300ms;

  &:hover {
    transform: scale(1.2);
  }

  svg,
  img {
    width: 40%;
    height: auto;
  }

  .outline {
    display: block;
  }

  .fill {
    display: none;
  }

  &.is-saved {
    .outline {
      display: none;
    }

    .fill {
      display: block;
    }
  }
}
