/*
* Color naming by: http://chir.ag/projects/name-that-color/
*/

/* Standard */
$color-white: #ffffff;
$color-black: #020202;

/* Branding */
$color-champagne: #fae7d4;
$color-bay-of-many: #26547c;
$color-gray: #5a5a5a;
$color-alabasta: #f4f4f4;
